PS_SOURCE_DB_URI=postgresql://powersync_repl:change_me@host.docker.internal:5432/kasirgoplus
PS_SOURCE_DB_SSLMODE=disable

PS_JWT_AUDIENCE=powersync
PS_JWT_KID=kasirgo-hs256
PS_JWT_SHARED_SECRET_B64URL=replace_me
